# Object files
*.o
*.ko
*.elf

# Shared objects
*.dll
*.so
*.so.*
*.dylib

# Executables
*.out
*.app
*.i*86
*.x86_64
*.hex

# OpenSSL
/2016/Server/openssl/
/2016/Server/logins.json
/2016/Server/data.json
/2016/Server/key.dat

# NodeJS
/2016/Server/node_modules/
/2017/Server/node_modules/