extends ./base.jade
include ./include/utils.jade

block vars
   - var pageTitle = "Team 4618 - Team Entry"
   - var navTitle = "Team Entry"
   - var navColor = "red"
   - var backgroundurl = "/assets/general_background.png"
   - var event_data = {}
      
block content
   #scout.block
      p(style="font-size: 2em; margin-top: 0px; margin-bottom: 5px;") Scouting DB
      p Team ID: #[input(type="text", id="team_box", autocomplete="off")]
      button(id="scout_search_button") Search
   if teamid
      if team_data
         - var avg_data = {}
         - for(var i = 0; i < team_data.length; i++)
            - var keys = Object.keys(team_data[i])
            - keys.splice(keys.indexOf("name"), 1)
            - keys.splice(keys.indexOf("match_number"), 1)
            - for(var j = 0; j < keys.length; j++)
               - if(!isNaN(parseInt(team_data[i][keys[j]])))
                  - if(avg_data[keys[j]] == undefined)
                     - avg_data[keys[j]] = {count: 0, value: 0}
                  - avg_data[keys[j]].value += parseInt(team_data[i][keys[j]])
                  - avg_data[keys[j]].count++
               - else
                  p= keys[j] + ": " + team_data[i][keys[j]]
         p Averages
         - var avg_keys = Object.keys(avg_data)
         - for(var i = 0; i < avg_keys.length; i++)
            p= avg_keys[i] + ": " + (avg_data[avg_keys[i]].value / avg_data[avg_keys[i]].count)
      else
         p= "No Data For This Team"
   else
      p= "Search for a team"
      
block script
   mixin scoutSearchScript("scout_search_button", "team_box")
   