extends ./base.jade
include ./include/utils.jade

block vars
   - var pageTitle = "Team 4618 - Team Entry"
   - var navTitle = "Team Entry"
   - var navColor = "red"
   - var backgroundurl = "/assets/general_background.png"
   - var event_data = {}
      
block content
   #scout.block
      p(style="font-size: 2em; margin-top: 0px; margin-bottom: 5px;") Scouting DB
      p Team ID: #[input(type="text", id="team_box", autocomplete="off")]
      button(id="scout_search_button") Search
   if teamid
      if team_data
         p= "WIP"
      else
         p= "No Data For This Team"
   else
      p= "Search for a team"
      
block script
   mixin scoutSearchScript("scout_search_button", "team_box")
   