extends ./base.jade
include ./include/utils.jade

block vars
   - var pageTitle = "Team 4618 - Home"
   - var navTitle = "Home"
   - var navColor = "red"
   - var backgroundurl = "/assets/general_background.png"

block content
   p Welcome #{username}! This is the Team 4618 Server
   #scout.block
      p(style="font-size: 2em; margin-top: 0px; margin-bottom: 5px;") Scouting DB
      p Team ID: #[input(type="text", id="team_box" autocomplete="off")]
      button(id="scout_search_button") Search
   #posts.block
      #postdata_block
         mixin postViewer(posts)
      textarea(rows="4", cols="25", class="consttextarea", id="post_box")
      br
      button(id="post_button") Post
   #onlinedata_block.block
      if online
         p(style="margin-top: 5px; margin-bottom: 5px;") People Online:
            each name in online
               p(style="margin-top: 5px; margin-bottom: 5px;")= name
      else
         p No People Online
   #messages.block
      #messagedata_block
         mixin messageViewer(messages, username)
      br
      #messagesender_block
         mixin messageSender(online, username, "message_box", "message_target", "message_button")
     
block script
   mixin scoutSearchScript("scout_search_button", "team_box")
   #messagesenderscript_block
      mixin messageSenderScript(online, username, "message_box", "message_target", "message_button")
   script.
      function uploadPost()
      {
         socket.emit('upload_post', $("#post_box").val());
         $("#post_box").val('');
      }
   
      $(document).ready(function()
      {
         registerEnterKey("post_box");
         
         $('#post_button').bind("click", uploadPost);
      });