extends ./base.jade

block vars
   - var pageTitle = "Team 4618 - Internal"
   - var navTitle = "Internal"
   - var navColor = "green"
   - var backgroundurl = "/assets/internal_background.png"
   
block style
   style.
      .block {
         width: 80%;
         background-color: #{navColor};
         margin-left: 5%;
         margin-top: 25px;
         margin-bottom: 25px;
         outline: rgb(204, 255, 204) solid thick;
      }
      .onlinename {
         margin-top: 0px;
         margin-bottom: 0px;
         margin-left: 15px;
         background: none;
         border: none;
         color: white;
         font-family: "Arial", "Helvectia", sans-serif;
         font-size: 14px;
      }

block content
   #login_create.block
      p Create Login
      p Username: #[input(type="text", id="username_box" autocomplete="off")]
      p Password: #[input(type="password", id="password_box" autocomplete="off")]
      p Access: #[input(type="text", id="access_box" autocomplete="off")]
      button(id="create_login_button") Create Login
   #admin.block
      p Admin Controls
      button(id="clear_posts_button") Clear Posts
   
block script
   script.
      function createLogin()
      {
         var login_info = {
                              username: $('#username_box').val(),
                              password: $('#password_box').val(),
                              access: $('#access_box').val()
                          };
         socket.emit('create_login', login_info);
         $('#username_box').val('');
         $('#password_box').val('');
         $('#access_box').val('');
      }
      
      function enterHook(e)
      {
         if(e.keyCode == 13)
         {
            $(this).trigger("enterKey");
         }
      }
      
      $(document).ready(function()
      {
         $('#username_box').keyup(enterHook);
         $('#password_box').keyup(enterHook);
         $('#access_box').keyup(enterHook);
         
         $('#login_button').bind("click", createLogin);
         $('#username_box').bind("enterKey", createLogin);
         $('#password_box').bind("enterKey", createLogin);
         $('#access_box').bind("enterKey", createLogin);
         
         $('#clear_posts_button').bind("click", function(){ socket.emit('clear_posts'); });
      });
      