extends ./base.jade
include ./include/utils.jade

block vars
   - var pageTitle = "Team 4618 - Login"
   - var navTitle = "Home"
   - var navColor = "red"
   - var backgroundurl = "/assets/general_background.png"
      
block content
   p Welcome! This is the Team 4618 Server
   #scout.block
      p Team ID: #[input(type="text", id="team_box" autocomplete="off")]
      button(id="scout_search_button") Search
   #login.block
      p Login
      p Username: #[input(type="text", id="username_box" autocomplete="off")]
      p Password: #[input(type="password", id="password_box" autocomplete="off")]
      button(id="login_button") Login
      
block script
   mixin scoutSearchScript("scout_search_button", "team_box")
   script.
      function tryLogin()
      {
         var login_creds = 
         {
            username: $('#username_box').val(),
            password: $('#password_box').val()
         };
         socket.emit('login', login_creds);
         $('#username_box').val('');
         $('#password_box').val('');
      }
      
      $(document).ready(function()
      {
         registerEnterKey('username_box');
         registerEnterKey('password_box');
         
         $('#login_button').bind("click", tryLogin);
         $('#username_box').bind("enterKey", tryLogin);
         $('#password_box').bind("enterKey", tryLogin);
      });