extends ./base.jade
include ./include/utils.jade

block vars
   - var pageTitle = "Team 4618 - Messages"
   - var navTitle = "Messages"
   - var navColor = "red"
   - var backgroundurl = "/assets/general_background.png"

block content
   if search_user
      p= search_user
   #messagesdata_block.block
      mixin messageViewer(messages, username)
   #messages_control.block
      p Messages from #[input(id="target_user")]
      button(id="search_messages") Search
      br
      br
      #messagesender_block
         mixin messageSender(online, username, "message_box", "message_target", "message_button")

block script
   mixin messageSenderScript(online, username, "message_box", "message_target", "message_button")
   script.
      function searchForUserMsg()
      {
         Cookies.set('msg_search_user', $('#target_user').val());
         socket.emit('request_specific_messages', Cookies.get('msg_search_user'));
         $('#target_user').val('');
      }
      
      $(document).ready(function()
      {
         registerEnterKey('target_user');
         
         $('#target_user').on('enterKey', searchForUserMsg);
         $('#search_messages').on('click', searchForUserMsg);
      });
      