extends ./base.jade

block vars
   - var pageTitle = "Team 4618 - Posts"
   - var navTitle = "Posts"
   - var navColor = "red"
   - var backgroundurl = "/assets/general_background.png"

block content
   #postdata_block
      if posts
         each post in posts
            .block
               p= post.value
      else
         p No Posts
   #post_submit.block
      br
      textarea(rows="4", cols="25", class="consttextarea", id="post_box")
      br
      button(id="post_button") Post
      
block script
   script.
      function uploadPost()
      {
         socket.emit('upload_post', $("#post_box").val());
         $("#post_box").val('');
      }
      $(document).ready(function()
      {
         $('#post_button').bind("click", uploadPost);
      });