extends ./base.jade
include ./include/utils.jade

block vars
   - var pageTitle = "Team 4618 - Posts"
   - var navTitle = "Posts"
   - var navColor = "red"
   - var backgroundurl = "/assets/general_background.png"

block content
   .bar
      button(id="delete_button", style="margin-left: 10px; margin-right: 10px") Delete
      div(id="postsearch_block", style="display: inline-block")
         if search_user
            span= "Searching for posts by: " + search_user
   #postdata_block
      mixin postViewer(posts, true, "post_text")
   #post_submit.block
      p Posts from #[input(id="target_user")]
      button(id="search_posts") Search
      br
      br
      mixin postSender("post_box", "post_button")
      
block script
   mixin postSenderScript("post_box", "post_button")
   script.
      var is_delete_mode = false;
   
      function searchForUserPost()
      {
         Cookies.set('post_search_user', $('#target_user').val());
         socket.emit('request_specific_posts', Cookies.get('post_search_user'));
         $('#target_user').val('');
      }
      
      function toggleDeleteMode()
      {
         is_delete_mode = !is_delete_mode;
         $('#delete_button').text("Delete" + (is_delete_mode ? " ON" : ""));
      }
      
      function onPostClick()
      {
         if(is_delete_mode)
         {
            var post_index = $(this).prop('id');
            socket.emit('delete_post', post_index);
         }
      }
      
      $(document).ready(function()
      {
         registerEnterKey("target_user");
         
         $('body').on('click', '#delete_button', toggleDeleteMode);
         
         $('body').on('click', '.post_text', onPostClick);
         
         $('#target_user').on('enterKey', searchForUserPost);
         $('#search_posts').on('click', searchForUserPost);
      });