extends ./base.jade
include ./include/utils.jade

block vars
   - var pageTitle = "Team 4618 - Posts"
   - var navTitle = "Posts"
   - var navColor = "red"
   - var backgroundurl = "/assets/general_background.png"

block content
   #postdata_block
      if search_user
         p= search_user
      mixin postViewer(posts, true)
   #post_submit.block
      p Posts from #[input(id="target_user")]
      button(id="search_posts") Search
      br
      br
      mixin postSender("post_box", "post_button")
      
block script
   mixin postSenderScript("post_box", "post_button")
   script.
      function searchForUserPost()
      {
         Cookies.set('post_search_user', $('#target_user').val());
         socket.emit('request_specific_posts', Cookies.get('post_search_user'));
         $('#target_user').val('');
      }
      
      $(document).ready(function()
      {
         registerEnterKey("target_user");
         
         $('#target_user').on('enterKey', searchForUserPost);
         $('#search_posts').on('click', searchForUserPost);
      });