extends ./base.jade

block vars
   - var pageTitle = "Team 4618 - Profile"
   - var navTitle = "Profile"
   - var navColor = "red"
   - var backgroundurl = "/assets/general_background.png"

block content
   .block
      p Account Info
      p Username: #{username}
      p Access Level: #{access_level}
   .block
      p Change Password #[input(id="new_password_box")]
      button(id="new_password_button") Change Password
      
block script
   script.
      $(document).ready(function()
      {
         $('#new_password_button').on("click", function()
         {
            socket.emit('update_password', $('#new_password_box').val());
            $('#new_password_box').val('');
         });
      });