extends ./base.jade

block vars
   - var pageTitle = "Team 4618 - Profile"
   - var navTitle = "Profile"
   - var navColor = "red"
   - var backgroundurl = "/assets/general_background.png"

block content
   p Profile of #{username}
   p Access Level: #{access_level}