body {
	background-image: url("background.png");
	font-style: normal;
	font-weight: bold;
	font-family: "Arial";
}

.iconlink {
	position: relative;
	height: 80;
	width: 250;
	top: 10;
	left: 10;
	border-style: solid;
	border-width: 15;
	border-color: rgba(0,220,255,0.5);
}

.iconlink:hover  {
	cursor: hand;
	visibility: visible;
}

.iconlink:hover  .link{
	opacity: 1;
}

.link {
	position: absolute;
	width: 80%;
	height: 25%;
	padding: 6;
	top: 35;
	left: 50;
	text-decoration: none;
	z-index: 10;
	opacity: 0;
	background-color: rgba(0,0,0,0.5);
	color: rgb(255,255,255);
}

.home {
	position: relative;
	top: -85;
	left: 400;
	width: 55;
	height: 95;
	color: rgb(255,255,255);
	padding: 2;
	background-color: rgba(0,220,255,0.5);
	text-align: center;
}

.home:hover  .homelink{
	opacity: 1;
	cursor: hand;
	visibility: visible;
}

.homelink {
	position: absolute;
	top: -7;
	left: -7;
	width: 75;
	height: 120;
	background-color: rgba(120,240,255,0.5);
	opacity: 0;
}